policy-options {
    replace: policy-statement priority-{{ item.name }} {
       term preferred-as-path {
           from as-path-group preferred-{{ item.name }};
           then {
               local-preference add 5;
           }
       }
       term preferred-community {
           from community preferred-{{ item.name }};
           then {
               local-preference add 6;
           }
       }
       term skip-as-path {
           from as-path-group skip-{{ item.name }};
           then {
               local-preference subtract 5;
           }
       }
       term skip-community {
           from community skip-{{ item.name }};
           then {
               local-preference subtract 6;
           }
       }
    }

    replace: policy-statement import-{{ item.name }} {
        then community add from-netia;
        then accept;
    }

    as-path-group preferred-{{ item.name }} as-path dummy 65000;
    as-path-group skip-{{ item.name }} as-path dummy 65000;

    replace: community from-{{ item.name }} members {{ origin_asn }}:{{ item.peer_as }};
    community preferred-{{ item.name }} members 1:1;
    community skip-{{ item.name }} members 1:1;
}

protocols {
    bgp {
        group uplink-{{ item.name }} {
            type {{ item.type | default("external") }};
            description {{ item.description | default('no-description') }} ;
            import [ lp-inet drop-default drop-martians drop-long-prefixes check-rpki priority-{{ item.name }} community-inet import-{{ item.name }} ];
            export [ drop-all ];
            peer-as {{ item.peer_as }};
            local-as {{ item.local_as | default(origin_asn) }};
{% for peer in item.neighbors %}
            neighbor {{ peer.peer_address }} {
                description {{ peer.description | default("no-description") }};
{% if peer.local_address is defined %}local-address {{ peer.local_address }};{% endif %}
            }
{% endfor %}
        }
    }
}