policy-options {
    replace: policy-statement accept-all {
        then accept;
    }
    replace: policy-statement drop-all {
        then reject;
    }
    replace: policy-statement drop-default {
        term default-v4 {
            from {
                family inet;
                route-filter 0.0.0.0/0 exact reject;
            }
        }
        term default-v6 {
            from {
                family inet6;
                route-filter ::/0 exact reject;
            }
        }
    }
    replace: policy-statement drop-martians {
        term martians-v4 {
            from {
                family inet;
                route-filter 0.0.0.0/8 orlonger;
                route-filter 127.0.0.0/8 orlonger;
                route-filter 10.0.0.0/8 orlonger;
                route-filter 172.16.0.0/12 orlonger;
                route-filter 192.168.0.0/16 orlonger;
                route-filter 224.0.0.0/3 orlonger;
                route-filter 100.64.0.0/10 orlonger;
                route-filter 169.254.0.0/16 orlonger;
                route-filter 203.0.113.0/24 orlonger;
                route-filter 198.18.0.0/15 orlonger;
                route-filter 198.51.100.0/24 orlonger;
                route-filter 192.0.0.0/24 orlonger;
                route-filter 192.0.2.0/24 orlonger;
            }
            then reject;
        }
        term martians-v6 {
            from {
                family inet6;
                route-filter ::ffff:0.0.0.0/96 orlonger;
                route-filter ::224.0.0.0/100 orlonger;
                route-filter ::127.0.0.0/104 orlonger;
                route-filter ::0.0.0.0/104 orlonger;
                route-filter ::255.0.0.0/104 orlonger;
                route-filter 0000::/8 orlonger;
                route-filter 2001:db8::/32 orlonger;
                route-filter 2002:e000::/20 orlonger;
                route-filter 2002:7f00::/24 orlonger;
                route-filter 2002:0000::/24 orlonger;
                route-filter 2002:ff00::/24 orlonger;
                route-filter 2002:0a00::/24 orlonger;
                route-filter 2002:ac10::/28 orlonger;
                route-filter 2002:c0a8::/32 orlonger;
                route-filter fc00::/7 orlonger;
                route-filter fe80::/10 exact;
                route-filter ff00::/8 orlonger;
            }
            then reject;
        }
    }
    replace: policy-statement export-default-originate {
        term default-v4 {
            from {
                family inet;
                route-filter 0.0.0.0/0 exact;
            }
            then {
                next-hop self;
                accept;
            }
        }
        term default-v6 {
            from {
                family inet6;
                route-filter ::/0 exact;
            }
            then {
                next-hop self;
                accept;
            }
        }
    }
    replace: policy-statement import-default-originate {
        term default-v4 {
            from {
                family inet;
                route-filter 0.0.0.0/0 exact;
            }
            then accept;
        }
        term default-v6 {
            from {
                family inet6;
                route-filter ::/0 exact;
            }
            then accept;
        }
    }
    replace: policy-statement check-rpki {
        term valid {
            from {
                protocol bgp;
                validation-database valid;
            }
            then {
                validation-state valid;
                next policy;
            }
        }
        term invalid {
            from {
                protocol bgp;
                validation-database invalid;
            }
            then {
                validation-state invalid;
                next policy;
            }
        }
    }
    replace: policy-statement drop-long-prefixes {
        term drop-v4 {
            from {
                family inet;
                route-filter 0.0.0.0/0 prefix-length-range /25-/32;
            }
            then reject;
        }
        term drop-v6 {
            from {
                family inet6;
                route-filter ::/0 prefix-length-range /65-/128;
            }
            then reject;
        }
    }
    replace: policy-statement community-inet {
        then community set from-inet;
    }
    replace: policy-statement community-ix {
        then community set from-ix;
    }
    replace: policy-statement community-peer {
        then community set from-peer;
    }
    replace: policy-statement community-customer {
        then community set from-customer;
    }
}