policy-options {
    community mirohost-origin members {{ origin_asn }}:{{ origin_asn }};

    community from-customer members {{ origin_asn }}:25300;
    community from-inet members {{ origin_asn }}:25000;
    community from-ix members {{ origin_asn }}:25100;
    community from-peer members {{ origin_asn }}:25200;

    community prepend-all-1 members {{ origin_asn }}:65001;
    community prepend-all-2 members {{ origin_asn }}:65002;
    community prepend-all-3 members {{ origin_asn }}:65003;
    community prepend-all-4 members {{ origin_asn }}:65004;
    community prepend-all-dna members {{ origin_asn }}:65000;
    community prepend-inet-1 members 25000:65001;
    community prepend-inet-2 members 25000:65002;
    community prepend-inet-3 members 25000:65003;
    community prepend-inet-4 members 25000:65004;
    community prepend-inet-dna members 25000:65000;
    community prepend-ix-1 members 25100:65001;
    community prepend-ix-2 members 25100:65002;
    community prepend-ix-3 members 25100:65003;
    community prepend-ix-4 members 25100:65004;
    community prepend-ix-dna members 25100:65000;
    community prepend-peer-1 members 25200:65001;
    community prepend-peer-2 members 25200:65002;
    community prepend-peer-3 members 25200:65003;
    community prepend-peer-4 members 25200:65004;
    community prepend-peer-dna members 25200:65000;
}
