policy-options {
    replace: policy-statement lp-inet {
        then local-preference 90
    }
    replace: policy-statement lp-ix {
        then local-preference 110
    }
    replace: policy-statement lp-peer {
        then local-preference 130
    }
    replace: policy-statement lp-customer {
        then local-preference 150
    }
}